* {
    margin: 0;
    padding: 0;
}

body {

    background: rgb(34, 67, 195);
    background: linear-gradient(0deg, rgb(139, 183, 255) 0%, rgba(255, 255, 255, 1) 100%);
}

/*a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    font-size: 30px;*/
/*    margin-left: 7px;*/
/*    margin-right: 15px;*/
/*}*/

/*.nav-bar-container {*/
/*    background-color: black;*/
/*    color: white;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    top: 0%;*/


/*}*/


.title {
    text-align: center;
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 100px;
}

/*-------------------------------- LOGIN FORM --------------------------------*/
#login-operation {
    display: block;
}

.login-container {
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border: double 4px black;
    width: 30%;
    margin: auto;
    padding-bottom: 35px;
    margin-bottom: 200px;
    align-items: center;
    height: 30%;

}

.login-container h3 {
    margin-bottom: 35px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.login-container input {
    font-size: 20px;
    text-align: center;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 60%;
}

.login-container button {
    width: 30%;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    background-color: mediumspringgreen;
}

#h1-ceo-operations-message, #h1-employee-operations-message {
    text-align: center;
    font-size: 20px;
    display: none;
    margin-bottom: 50px;
    border-top: 2px solid black;
    padding-top: 20px;
}


#h1-ceo-operations {
    text-align: center;
    font-size: 40px;
    display: none;
    margin-bottom: 50px;
    border-top: 2px solid black;
    padding-top: 50px;
}

#ceo-operations {
    display: none;
}

.ceo-operations {
    display: flex;
}

#h1-employee-operations-message {
    text-align: center;
    font-size: 20px;
    display: none;
    margin-bottom: 50px;
    border-top: 2px solid black;
    padding-top: 20px;
}

#h1-employee-operations {
    text-align: center;
    font-size: 40px;
    display: none;
    margin-bottom: 50px;
    border-top: 2px solid black;
    padding-top: 50px;
}

#employee-operations {
    display: none;
}

.employee-operations {
    display: flex;
}


/*------------------------------- ADD EMPLOYEE FORM ---------------*/

.add-employee {
    /*margin-top: 200px;*/
    font-size: 20px;
    /*flex-flow: column;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    border: double 4px black;
    width: 20%;
    height: 70%;
    /*margin: auto;*/
    margin-left: 3%;
    padding-bottom: 15px;
    margin-bottom: 60px;
    align-items: center;
    /*visibility: hidden;*/
}

.add-employee h3 {
    margin-bottom: 35px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.add-employee input {
    font-size: 20px;
    text-align: center;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 80%;
}

.add-employee button {
    width: 60%;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    background-color: mediumspringgreen;
}

/*------------------------------- ADD Material FORM ---------------*/

.add-material {
    /*margin-top: 200px;*/
    font-size: 20px;
    /*flex-flow: column;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    border: double 4px black;
    width: 20%;
    height: 70%;
    /*margin: auto;*/
    margin-left: 3%;
    padding-bottom: 15px;
    margin-bottom: 60px;
    align-items: center;
    /*visibility: hidden;*/
}

.add-material h3 {
    margin-bottom: 35px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.add-material input {
    font-size: 20px;
    /*text-align: center;*/
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 80%;
}
#work-id-number-of-employee-material{
    text-align: center;
}

#change-article-text, #new-article-text {
    height: 150px;
}

.add-material button {
    width: 60%;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    background-color: mediumspringgreen;
}

/*--------------------------------- CHANGE EMPLOYEE FORM---------------*/

.change-employee {
    /*margin-top: 200px;*/
    font-size: 20px;
    /*flex-flow: column;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    border: double 4px black;
    width: 20%;
    height: 70%;
    /*margin: auto;*/
    margin-left: 3%;
    padding-bottom: 15px;
    margin-bottom: 60px;
    align-items: center;
    /*visibility: hidden;*/
}

.change-employee h3 {
    margin-bottom: 35px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.change-employee input {
    font-size: 20px;
    /*text-align: center;*/
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 80%;
}

.change-employee button {
    width: 60%;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    background-color: mediumspringgreen;
}

/*--------------------------------- CHANGE Material FORM---------------*/

.change-material {
    /*margin-top: 200px;*/
    font-size: 20px;
    /*flex-flow: column;*/
    text-align: center;
    display: flex;
    flex-direction: column;
    border: double 4px black;
    width: 20%;
    height: 70%;
    /*margin: auto;*/
    margin-left: 3%;
    padding-bottom: 15px;
    margin-bottom: 60px;
    align-items: center;
    /*visibility: hidden;*/
}

.change-material h3 {
    margin-bottom: 35px;
    margin-top: 10px;
    padding-bottom: 5px;
    font-size: 25px;
    border-bottom: 1px solid black;
}

.change-material input {
    font-size: 20px;
    text-align: center;
    height: 35px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 5px;
    width: 80%;
}

.change-material button {
    width: 60%;
    margin-top: 10px;
    font-size: 17px;
    text-align: center;
    justify-content: center;
    background-color: mediumspringgreen;
}

/*------------------------------------------ LIST OF ALL EMPLOYEE ------------------*/
.employee-container {
    margin-left: 5px;
    margin-bottom: 60px;
    border: 4px double black;
    align-items: center;
    width: 70%;
    margin-right: 1%;

}

.employee-container h3 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    /*border-bottom: 1px solid black;*/
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

/*------------------------------------------ List Of ALL MATERIALS -----------------------*/
.materials-container {
    margin-left: 5px;
    margin-bottom: 60px;
    border: 4px double black;
    align-items: center;
    width: 70%;
    margin-right: 1%;

}

.materials-container h3 {
    font-size: 30px;
    margin-bottom: 30px;
    text-align: center;
    /*border-bottom: 1px solid black;*/
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 30px;
}

#table-material .delete-btn-material {
    background-color: red;
    font-size: 17px;
    color: white;
    width: 100px;
    height: 25px;
    float: right;
    margin-right: 70px;

}

#table-material .edit-btn-material {
    background-color: #e8e71e;
    font-size: 17px;
    color: black;
    width: 100px;
    height: 25px;
    float: right;
    margin-right: 50px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: black;
    margin-top: 10px;
}

#edit-btn-td, #delete-btn-td {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;

}

#edit-btn-td {
    border-right: none;
}

td, th {
    border: 1px solid #000000;
    text-align: center;
    padding: 8px;
}

.ceo-operations-button {
    display: flex;
    justify-content: center;
}

#log-out-ceo-button {
    text-align: center;
    background-color: orange;
    font-size: 20px;
    margin-bottom: 100px;
    width: 35%;
    height: 40px;
    display: none;
}

.employee-operations-button {
    display: flex;
    justify-content: center;
}

#log-out-employee-button {
    text-align: center;
    background-color: orange;
    font-size: 20px;
    margin-bottom: 100px;
    width: 35%;
    height: 40px;
    display: none;
}

footer {
    text-align: center;
    font-size: 17px;
    font-style: italic;
    padding: 15px;
    border-top: 3px solid black;
    margin-bottom: 10px;
}